.Card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 1rem;
}

.Card > .topLeft {
  margin-bottom: 4rem;
}

.Card > .bottomRight {
  transform: rotate(180deg);
}
