.Toast {
  position: absolute;
  top: 90vh;
  right: -20rem;
  border: 1px solid red;
  color: red;
  border-radius: 3px;
  transition: all 250ms ease;
  padding: 1rem;
  visibility: hidden;
}
.show {
  visibility: visible;
  right: 5vw;
}
